<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Cadastro de usúario</title>
</head>
<body>
    <h1>Cadastro de usúario</h1>
    <form method="post">
        <p>Nome de usúario: <input type="text" value="" name="username"/></p>
        <p>Email: <input type="text" value="" name="email"/></p>
        <p>Senha: <input type="text" value="" name="password"/></p>
        <p><button type="submit" name="cadastrar">Cadastrar</button></p>
    </form>
</body>
<script th:href="@{/js/jquery.min.js}"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
</html>