<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usúario</title>
</head>
<body>
    <h1>Cadastro de usúario</h1>
    <form method="post">
        <p>Nome de usúario: <input type="text" value="" name="username"/></p>
        <p>Email: <input type="text" value="" name="email"/></p>
        <p>Senha: <input type="text" value="" name="password"/></p>
        <p><button type="submit" name="cadastrar">Cadastrar</button></p>
    </form>
</body>
</html>