<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container" th:object="${dadosEndereco}" >
<form action="#" th:action="@{'/registro/contatos/endereco/editar/'+*{id}}" method="post">
    <h2>Dados do contato</h2>
    <p></p>
    <p>Rua: <input type="text" value="" th:field="*{rua}"></p>
    <p>Número: <input type="text" value="" th:field="*{numero}"></p>
    <p>Complemento: <input type="text" value="" th:field="*{complemento}"></p>
    <p>Bairro: <input type="text" value="" th:field="*{bairro}"></p>
    <p>Cep: <input type="text" value="" th:field="*{cep}"></p>
    <p>Cidade: <input type="text" value="" th:field="*{cidade}"></p>
    <p>Estado: <input type="text" value="" th:field="*{estado}"></p>
    <p><button type="submit" name="cadastrar_endereco">Atualizar</button></p>
    </div>
</form>
<script th:href="@{/js/jquery.min.js}"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
</body>
</html>