<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container" th:object="${dadosContato}" >
<form action="#" th:action="@{'/registro/contatos/editar/'+*{id}}" method="post">
    <h2>Dados do contato</h2>
    <p></p>
    <p>Nome: <input type="text" th:field="*{nome}"></p>
    <p>CPF: <input type="text" th:field="*{CPF}"></p>
    <p>RG: <input type="text" th:field="*{RG}"></p>
    <p><button type="submit" name="cadastrar_contato">Atualizar</button></p>
    </div>
</form>
<script th:href="@{/js/bootstrap.min.js}" ></script>
</body>
</html>