<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <title tiles:fragment="title">Messages : Create</title>
</head>
<body>
<div tiles:fragment="content" class="container">
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Log in</button>
                <a th:href="@{cadastro}" class="btn btn-secondary">Registra-se</a>
            </div>
        </fieldset>
    </form>
</div>
<script th:href="@{/js/bootstrap.min.js}" ></script>
</body>
</html>